body {
	font: 16px Tahoma;
	color: #333;
}
h1 {
	text-align: center;
}
main.table {
	background: url(../imgs/base.png);
	height: 720px;
	margin: 20px auto;
	position: relative;
	width: 480px;
}
main.table section.attributes { 
	height: 428px;
	left: 171px;
	position: absolute;
	top: 92px;
	width: 300px;

 }
 section.attributes ul{
 	list-style: none;
 	margin: 0;
 	padding: 0px 0px 0px 20px;

 }
 section.attributes ul li {
 	text-shadow: 0px 0px 9px #e62e00;
 	color: #fff;
 	font-size: 1.5em; 
 	padding: 20px 0px;
 	margin-bottom: 3px;
 }
 main.table section.methods {
 	bottom: 4px;
 	height: 100px;
 	left: 6px;
 	position: absolute;
 	width: 466px;
 } 

 section.methods button {
 	border: none;
 	border-radius: 100px;
 	height: 75px;
 	margin: 10px -6px 0px 13px;
 	width: 76px;
 }
section.methods button:first-of-type {
 	margin-left: 15px;
 }
section.methods button:last-of-type {
 	margin-left: 18px;
 }
section.methods button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

 section.methods button#btnPlay {
 	background: transparent url(../imgs/btn-play.png) no-repeat center;
 }
 section.methods button#btnOff {
 	background: transparent url(../imgs/btn-off.png) no-repeat center;
 }
 section.methods button#btnStop {
 	background: transparent url(../imgs/btn-stop.png) no-repeat center;
 }
 section.methods button#btnForward {
 	background: transparent url(../imgs/btn-forward.png) no-repeat center;
 }
 section.methods button#btnBackward {
 	background: transparent url(../imgs/btn-backward.png) no-repeat center;
 }
 section#path {
 	height: 150px;
 	left: -15px;
 	position: absolute;
 	top: 200px;
 	width: 377px; 	
 }
 figure#vhc {
 	background: transparent url(../imgs/lamborguini.png) no-repeat center;
 	background-size: cover;
 	position: relative;
 	height: 150px;
 	width: 377px;
 }
 figure#vhc.play {
 	animation: animPlay 0.1ms 1s infinite;
 }
 section#path.forward {
 	animation: animForward 4s linear infinite;
 }
 section#path.backward {
 	animation-direction: reverse;
 }
 section#path.stop {
 	animation-play-state: paused;
 }

 @keyframes animPlay {
 	0%, 100% {top: 0px;}
 	50% 	 {top: -2px;}
 }
 @keyframes animForward {
 	0%  {left: 0px;}
 	100% {left: 1200px;}
 }

